<p>Dear <%= @contact_form.name %> <%= @contact_form.last_name %>,</p>
<p>Thank you for contacting us. We have received your message and will respond as soon as possible.</p>
<p>Your message:</p>
<p><%= @contact_form.message %></p>