<footer class="bg-gray-100 mt-auto py-3">
    <div class="container mx-auto text-gray-600 flex justify-between">
        <span>&copy; <%= Date.today.year %> It Shifts</span>
        <ul class="list-none mb-0 flex">
            <li class="mr-3">Privacy Policy</li>
        </ul>
    </div>
</footer>
